@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media(max-width:1520px) {
  .left-svg {
      display: none;
  }
}

/* small css for the mobile nav close */
#nav-mobile-btn.close span:first-child {
  transform: rotate(45deg);
  top: 4px;
  position: relative;
  background: #a0aec0;
}

#nav-mobile-btn.close span:nth-child(2) {
  transform: rotate(-45deg);
  margin-top: 0px;
  background: #a0aec0;
}

.dark {
  filter: invert(1);
  background: #252525;
}

.flip {
  filter: invert(1);
}

.theme-switch {
  cursor: pointer;
}

#body-part-header {
  grid-column: 1 / span 1;
  width: 70%;
  padding: 10px;
}

#body-part-value-header {
  grid-column: 2 / span 1;
  width: 30%;
  padding: 10px;
}

#body-part {
  grid-column: 1 / span 1;
  width: 70%;
  border: 1px solid grey;
  padding: 10px;
}

#body-part-value {
  grid-column: 2 / span 1;
  width: 30%;
  border: 1px solid grey;
  padding: 10px;
}